In [1]:
#Bai 1
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5])
print("Series:")
print(s)

name = ['An', 'Bình', 'Châu', 'Dũng']
score = [8.5, 7.0, 6.5, 9.0]

df = pd.DataFrame({
    "name": name,
    "score": score
})

print("\nDataFrame info:")
df.info()

print("\nDataFrame describe:")
print(df.describe())

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   score   4 non-null      float64
dtypes: float64(1), object(1)
memory usage: 192.0+ bytes

DataFrame describe:
          score
count  4.000000
mean   7.750000
std    1.190238
min    6.500000
25%    6.875000
50%    7.750000
75%    8.625000
max    9.000000

In [2]:
#Bai 2
import pandas as pd

name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, 21, 22, 20]
score = [8.5, 7.0, 6.5, 9.0]

df = pd.DataFrame({
    "name": name,
    "age": age,
    "score": score
})

print("DataFrame filtered by loc[]:")
print(df.loc[df["score"] >= 8])

print("\nDataFrame filtered by iloc[]:")
print(df.iloc[:, [1]])

print("\nDataFrame filtered by query():")
print(df.query("score > 7 and age < 23"))

DataFrame filtered by loc[]:
   name  age  score
0    An   20    8.5
3  Dũng   20    9.0

DataFrame filtered by iloc[]:
   age
0   20
1   21
2   22
3   20

DataFrame filtered by query():
   name  age  score
0    An   20    8.5
3  Dũng   20    9.0

In [3]:
#Bai 3
import pandas as pd

name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, None, 22, 20]
score = [8.5, None, 6.5, 9.0]

df = pd.DataFrame({
    "name": name,
    "age": age,
    "score": score
})

print("Dữ liệu thiếu kiểm tra bằng isna():")
print(df.isna())

mean_age = df["age"].mean()
mean_score = df["score"].mean()

df_fill = df.copy()
df_fill["age"] = df_fill["age"].fillna(mean_age)
df_fill["score"] = df_fill["score"].fillna(mean_score)

print("\nDataFrame sau khi thay thế NaN bằng fillna():")
print(df_fill)

df_drop = df_fill.dropna()

print("\nDataFrame sau khi loại bỏ NaN bằng dropna():")
print(df_drop)

Dữ liệu thiếu kiểm tra bằng isna():
    name    age  score
0  False  False  False
1  False   True   True
2  False  False  False
3  False  False  False

DataFrame sau khi thay thế NaN bằng fillna():
   name        age  score
0    An  20.000000    8.5
1  Bình  20.666667    8.0
2  Châu  22.000000    6.5
3  Dũng  20.000000    9.0

DataFrame sau khi loại bỏ NaN bằng dropna():
   name        age  score
0    An  20.000000    8.5
1  Bình  20.666667    8.0
2  Châu  22.000000    6.5
3  Dũng  20.000000    9.0

In [4]:
#Bai 4
import pandas as pd

name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, 21, 22, 20]
score = [8.5, 7.0, 6.5, 9.0]

df = pd.DataFrame({
    "name": name,
    "age": age,
    "score": score
})

df_apply = df.copy()
df_apply["age_group"] = df_apply["age"].apply(lambda x: "Young" if x <= 20 else "Adult")
print("DataFrame sau khi áp dụng apply():")
print(df_apply)

df_map = df.copy()
df_map["score_level"] = df_map["score"].map({
    8.5: "Excellent",
    7.0: "Good",
    6.5: "Average",
    9.0: "Excellent"
})
print("\nDataFrame sau khi map():")
print(df_map)

df_astype = df.copy()
df_astype["score"] = df_astype["score"].astype(int)
print("\nDataFrame sau khi astype():")
print(df_astype)

df_replace = df.copy()
df_replace["name"] = df_replace["name"].replace("Bình", "Bình (Updated)")
print("\nDataFrame sau khi replace():")
print(df_replace)

DataFrame sau khi áp dụng apply():
   name  age  score age_group
0    An   20    8.5     Young
1  Bình   21    7.0     Adult
2  Châu   22    6.5     Adult
3  Dũng   20    9.0     Young

DataFrame sau khi map():
   name  age  score score_level
0    An   20    8.5   Excellent
1  Bình   21    7.0        Good
2  Châu   22    6.5     Average
3  Dũng   20    9.0   Excellent

DataFrame sau khi astype():
   name  age  score
0    An   20      8
1  Bình   21      7
2  Châu   22      6
3  Dũng   20      9

DataFrame sau khi replace():
             name  age  score
0              An   20    8.5
1  Bình (Updated)   21    7.0
2            Châu   22    6.5
3            Dũng   20    9.0

In [5]:
#Bai 5
import pandas as pd

name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, 21, 22, 20]
score = [8.5, 7.0, 6.5, 9.0]

df = pd.DataFrame({
    "name": name,
    "age": age,
    "score": score
})

grouped = df.groupby("age").agg(
    mean_score=("score", "mean"),
    min_score=("score", "min"),
    max_score=("score", "max")
).reset_index()

print("Groupby age:")
print(grouped)

Groupby age:
   age  mean_score  min_score  max_score
0   20        8.75        8.5        9.0
1   21        7.00        7.0        7.0
2   22        6.50        6.5        6.5

In [7]:
#Bai 6
import pandas as pd

df1 = pd.DataFrame({'id': [1, 2, 3], 'name': ['An', 'Bình', 'Châu']})
df2 = pd.DataFrame({'id': [1, 2, 3], 'score': [8.5, 7.0, 6.5]})

merged = pd.merge(df1, df2, on='id')
print("Merged DataFrame:")
print(merged)

df_age = pd.DataFrame({'age': [20, 21, 22]})
concatenated = pd.concat([merged, df_age], axis=1)
print("\nConcatenated DataFrame:")
print(concatenated)

Merged DataFrame:
   id  name  score
0   1    An    8.5
1   2  Bình    7.0
2   3  Châu    6.5

Concatenated DataFrame:
   id  name  score  age
0   1    An    8.5   20
1   2  Bình    7.0   21
2   3  Châu    6.5   22

In [9]:
#Bai 7
import pandas as pd

date = ['2023-01-01', '2023-02-01', '2023-03-01']
name = ['An', 'Bình', 'Châu']

df = pd.DataFrame({
    "date": date,
    "name": name
})

df["date"] = pd.to_datetime(df["date"])
print("Date converted to datetime:")
print(df)

print("\nExtracted Year:")
print(df["date"].dt.year)

df["name"] = df["name"].astype("category")
print("\nCategory Type for name:")
print(df["name"])

Date converted to datetime:
        date  name
0 2023-01-01    An
1 2023-02-01  Bình
2 2023-03-01  Châu

Extracted Year:
0    2023
1    2023
2    2023
Name: date, dtype: int32

Category Type for name:
0      An
1    Bình
2    Châu
Name: name, dtype: category
Categories (3, object): ['An', 'Bình', 'Châu']

In [ ]:
#Bai 8
import os
import json
import pandas as pd

log_folder = "logs/"
results = []

for filename in os.listdir(log_folder):
    if filename.endswith(".json"):
        filepath = os.path.join(log_folder, filename)
        date_str = filename.replace("log_", "").replace(".json", "")
        with open(filepath, "r", encoding="utf-8") as f:
            data = json.load(f)

        duration = data.get("duration", 0)

        results.append({
            "date": date_str,
            "total_duration": duration
        })
df = pd.DataFrame(results)

print(df)

df.to_csv("report.csv", index=False)
print("\nSaved to report.csv")

         date  total_duration
0  2024-01-01               5
1  2024-01-02               3

Saved to report.csv